<%- include('partials/head') %>
  <body>
   <%- include('partials/nav') %>
    </nav>
    <main>
      <div style="margin-top: 12%; margin-bottom: 12%;" class="container">
      <h1>404 Page Not Found!</h1>
      <a style="margin-left: 1%;" href="/" class="button-link">Go to Home</a>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
