<%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>

    <div class="hero-section" style="margin-bottom: 20px">
      <div class="hero-text">
        <p style="font-size: 40px">Hello friend, it's</p>
        <span style="font-size: 70px"> MindMate!</span>
      
      </div>
      <a
        style="margin-left: 150px; margin-top: 50px"
        href="/chat"
        class="button-link"
        >Start Chat</a
      ><br />
      <a
        style="
          margin-left: 150px;
          margin-top: 150px;
          color: #fff;
          text-decoration: none;
        "
        href="#learnMore"
        >Learn More>></a
      >
    </div>

    <div style="margin-top: 5%;" id="learnMore">
      <b style="font-size: 40px; margin-left: 40%; ">Our Motive</b>
    </div>

    <div
      class="container"
      style=" background-color: rgba(246, 243, 243, 0.5)"
    >
      <p class="intro-text">
        College life can be challenging. Many students silently struggle with
        stress, anxiety, or a lack of motivation—yet often hesitate to reach out
        due to stigma or limited support systems. That’s where
        <strong>MindMate</strong> steps in.
      </p>

      <p class="intro-text">
        MindMate is your private, AI-powered mental wellness companion. Built
        with Google’s Gemini API, it offers a safe, non-judgmental space where
        you can talk about your feelings, track your mood, and receive tailored
        suggestions to improve your mental well-being.
      </p>

      <p class="intro-text">
        Whether you're feeling overwhelmed, need motivation, or just want
        someone to listen — MindMate is here 24/7 to support you with empathy,
        guidance, and helpful resources.
      </p>
    </div>
    <a
        style="margin-bottom: -15%;"
        href="/chat"
        class="button-link"
        >Start Chat</a
      >

    <%- include('partials/footer') %>
  </body>
</html>
